@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$primary: #4a90e2;
$secondary: #fcf300;
$accent: #ff9966;
$background: #f5f7fa;
$text-color: #333333;
$soft-green: #66bb6a;
$coral: #ff7043;

//override Bootstrap variables
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $soft-green,
  "warning": $coral,
  "info": $accent,
  "light": $background,
  "dark": $text-color,
);

// Import Bootstrap SASS
@import "bootstrap/scss/bootstrap";

// Additional custom styles
body {
  background-color: $background;
  color: $text-color;
  font-family: "Rubik", sans-serif;
}

.brand-custom {
  font-weight: bold;
  font-size: 3rem;
  color: $secondary;
}

.nav-link-custom {
  color: $background;
}

.nav-link-custom:hover {
  color: $secondary;
}

// You can add more custom styles here
