/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #759c9e;
  --secondary: #a2c4c6;
  --accent: #ff6f61;
  --background: #fce8c5;
  --text-color: #333333;
  --success: #28a745;
  --warning: #e74c3c;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Override Bootstrap default variables */
body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
}

.error-text {
  color: var(--warning);
}

.success-text {
  color: var(--success);
}

/* NAVBAR */

.brand-custom {
  font-weight: bold;
  font-size: 3rem;
  color: var(--secondary);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color);
}

.logo {
  height: 6rem;
}

.nav-link-custom {
  color: var(--accent) !important;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-custom:hover {
  color: var(--secondary) !important;
}

.navbar-toggler {
  background-color: transparent;
  color: transparent;
}

.navbar-toggler-icon {
  background-image: url("../images/menu.svg");
}

/* HERO */

.hero-custom {
  background-image: url("../images/happy-people-jumping.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-header {
  font-family: "Bevan", sans-serif;
  color: var(--primary);
}

.hero-sub-header {
  color: var(--text-color);
  font-style: italic;
}

.hero-mask {
  background-color: rgba(252, 232, 197, 0.95);
}

/* CAROUSEL */

.carousel-item-custom {
  min-height: 30rem;
  position: relative;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.carousel-item-custom.one {
  background-color: var(--secondary);
}

.carousel-item-custom.two {
  background-color: var(--accent);
}

.carousel-item-custom.three {
  background-color: var(--success);
}

.carousel-caption-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.carousel-caption-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
  color: var(--text-color);
  text-align: center;
}

.carousel-header-custom {
  font-family: "Bevan", sans-serif;
  color: var(--text-color);
  font-size: 2rem;
}

.carousel-caption-custom p {
  font-size: 1.25rem;
}

.carousel-button-custom {
  background: transparent;
  border-color: var(--text-color);
  border-width: 1.5px;
  color: var(--text-color);
  font-weight: bolder;
}

.carousel-button-custom.one:hover {
  color: var(--secondary);
  background: var(--text-color);
  border: none;
}

.carousel-button-custom.two:hover {
  color: var(--accent);
  background: var(--text-color);
  border: none;
}

.carousel-button-custom.three:hover {
  color: var(--success);
  background: var(--text-color);
  border: none;
}

/* SECTIONS */

.hero-section,
.first-rankings-section,
.second-rankings-section,
.factors-main-section,
.factors-section {
  margin-bottom: 2rem;
  position: relative;
}

.hero-section {
  height: 100vh;
}

.first-rankings-section {
  background-color: var(--secondary);
  height: 100vh;
}

.second-rankings-section {
  background-color: var(--background);
  min-height: 100vh;
}

.factors-main-section {
  background-color: var(--secondary);
  min-height: 100vh;
}

.factors-section {
  background-color: var(--background);
}

.data-intro-header {
  font-family: "Bevan", sans-serif;
}

.explore-btn {
  background-color: var(--success);
  border-color: var(--success);
  font-weight: 500;
}

.explore-btn:hover {
  background-color: var(--accent);
  border: none;
  border-width: 1.5px;
}

/* FACTORS - AUTH CARD (RADAR SECTION) */

.factors-auth-card {
  background-color: inherit;
  width: 450px;
  height: auto;
}

.factors-signup-btn {
  background-color: var(--accent);
  border-color: var(--accent);
  font-weight: bold;
}

.factors-signup-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.factors-login-btn {
  background-color: var(--accent);
  border-color: var(--accent);
  font-weight: bold;
}

.factors-login-btn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

/* AUTH */

.form-header-custom {
  font-weight: 900;
  color: var(--primary);
}

.auth-btn-custom {
  background-color: var(--success);
  border-color: var(--success);
}

.auth-btn-custom:hover {
  color: var(--text-color);
  background-color: transparent;
  border-color: var(--success);
}

/* FOOTER */

.footer-text-custom {
  font-size: 0.8rem;
}
