/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");

/* Define your custom CSS styles */
:root {
  --primary: #759c9e;
  --secondary: #a2c4c6;
  --accent: #ff6f61;
  --background: #fce8c5;
  --text-color: #333333;
  --success: #28a745;
  --warning: #d8b5a5;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Override Bootstrap default variables */
body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
}

/* Custom styles */
.brand-custom {
  font-weight: bold;
  font-size: 3rem;
  color: var(--secondary);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color);
}

.logo {
  height: 6rem;
}

.nav-link-custom {
  color: var(--accent) !important;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-custom:hover {
  color: var(--secondary) !important;
}

.navbar-toggler {
  background-color: transparent;
  color: transparent;
}

.navbar-toggler-icon {
  background-image: url("../images/menu.svg");
}

.carousel-item-custom {
  height: 20rem;
  position: relative;
  border-radius: 5px;
}

.carousel-item-custom.one {
  background-color: var(--secondary);
}

.carousel-item-custom.two {
  background-color: var(--accent);
}

.carousel-item-custom.three {
  background-color: var(--success);
}

.carousel-caption-custom {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-button-custom {
  background: transparent;
  border-color: var(--text-color);
}

.carousel-button-custom.one:hover {
  color: var(--secondary);
  background: var(--text-color);
  border: none;
}

.carousel-button-custom.two:hover {
  color: var(--accent);
  background: var(--text-color);
  border: none;
}

.carousel-button-custom.three:hover {
  color: var(--success);
  background: var(--text-color);
  border: none;
}

.form-header-custom {
  font-family: "Bevan", "Nunito", sans-serif;
  font-style: italic;
  color: var(--secondary);
}

.auth-img-custom {
  /* border-radius: 10px; */
  /* height: auto; */
  /* object-fit: cover; */
}

.auth-btn-custom:hover {
  color: var(--text-color);
  background-color: transparent;
  border-color: var(--success);
}

.footer-text-custom {
  font-size: 0.8rem;
}

/* Additional custom styles can be added below */
